// Define custom colors
// Font family
@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono');

body {
  font-family: 'Raleway', sans-serif;

  code {
    font-family: 'Ubuntu Mono', monospace;
  }
}

h1, h2, h3 {
  font-weight: bold;
}

