/* Own styles */
.lifecycle-stable {
    background-color: #5d5aff;
    color: var(--bs-white);
}

.lifecycle-experimental, .lifecycle-deprecated {
    background-color: #f9fd08;
    color: var(--bs-black);
}
