// Define custom colors
$stable-bg: #5d5aff;
$experimental-bg: #f9fd08;

$white: #ffffff;
$black: #000000;

// Lifecycle badge styles
.lifecycle {
  &-stable {
    background-color: $stable-bg;
    color: $white;
  }

  &-experimental,
  &-deprecated {
    background-color: $experimental-bg;
    color: $black;
  }
}

// Font family
@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono');

body {
  font-family: 'Raleway', sans-serif;

  code {
    font-family: 'Ubuntu Mono', monospace;
  }
}

h1, h2, h3 {
  font-weight: bold;
}

